<div flex fxLayout="row" fxLayoutAlign="center" class="selects-container">
  <div
    fxFlex.lt-sm="100%"
    fxFlex.gt-xs="33%"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <selectLanguage></selectLanguage>
  </div>

  <div fxFlex.lt-sm="100%" class="swap">
    <button
      mat-icon-button
      color="primary"
      aria-label="Example icon button with a home icon"
    >
      <mat-icon>swap_horiz</mat-icon>
    </button>
  </div>

  <div
    fxFlex.lt-sm="100%"
    fxFlex.gt-xs="33%"
    fxLayout="row"
    fxLayoutAlign="center"
  >
    <selectLanguage></selectLanguage>
  </div>
</div>

<div flex fxLayout="row" fxLayoutAlign="center" class="text-fields">
  <inputTextArea fxFlex.lt-sm="100%" fxFlex.gt-xs="50%"></inputTextArea>
  <outputTextArea fxFlex.lt-sm="100%" fxFlex.gt-xs="50%"></outputTextArea>
</div>
